{# Stránka pro editování kontaktu #}
{% extends 'base.html.twig' %}

{% block title %}Editování kontaktu{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="{{ path('smazat-kontakt', { id:kontakt_id }) }}">
        <button>Smazat</button>
    </a>
{% endblock %}